{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">
        About your organisation
      </span>

      <h1 class="govuk-heading-l">
        There is a problem with your account.
      </h1>

      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <div class="govuk-error-summary__body">
            <p>Our support team are reviewing the issue and will be in touch soon.</p>
          </div>
        </div>
      </div>

      

      <div class="govuk-inset-text">
        <p class="govuk-body">Please 
          <a href="#" class="govuk-link">
            sign out</a>
        </p>
        <p class="govuk-body"> When the problem has been resolved you will be asked to try again.</p>
      </div>

    </div>
  </div>

{% endblock %}
