{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>


      <form class="form" action="/start-an-application" method="post">

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Organisation managing your project is a"
              },
              value: {
                text: "Registered Charity"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Organisation's company number"
              },
              value: {
                text: "111 032"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Organisation's charity number"
              },
              value: {
                text: "980 033 405"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Organisation's name"
              },
              value: {
                text: "Test Organisation"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Your organisation is based in"
              },
              value: {
                html: "72 Guild Street<br>London<br>SE23 6FH"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Your organisation's mission, or objectives include"
              },
              value: {
                text: "LGBT+ led"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            }
          ]
        }) }}

        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
        {{ govukWarningText({
          text: "By saving this information you are confirming, that to the best of your knowledge, the details you are providing are correct.",
          iconFallbackText: "Warning"
        }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
  
    </div>
  </div>

{% endblock %}
