{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">
      Existing  details in salesforce
    </h2>

    <p>
      <a href='users/existing-details-error'class="govuk-link">
        Error importing existing user 
      </a>
    </p>

    <p>
      <a href='organisation/existing-organisations-error'class="govuk-link">
        New organisation journey for application (Organisation found in Salesforce - error importing)
      </a>
    </p>

    <p>
      <a href='organisation/address-not-found/postcode'class="govuk-link">
        New organisation journey for application (Organisation not in Salesforce)
      </a>
    </p>

    <p>
      <a href='organisation/address-found/postcode'class="govuk-link">
        New organisation journey for application (Organisation found in Salesforce - successfully imported)
      </a>
    </p>

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
